<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title> Registration | JustRent</title>
</head>
<body>
<div id="registration-container">
    <form id="registration-box" th:action="@{/registration}" method="post" >
       <h2>Register new account in JustRent</h2>
            <label for="name">First Name</label>
            <input type="text" id="name" name="name" required>
            <p th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation error</p>

        <div>
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname" required>
            <p th:each="error : ${#fields.errors('lastname')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="email">email</label>
            <input type="email" id="email" name="email" required>
            <p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password" required>
            <p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
        </div>
        <div>
            <label for="passwordConfrim">confirm</label>
            <input type="password" id="passwordConfrim" name="passwordConfrim">
        </div>
        <button type="submit">submit</button>
    </form>

    <a th:href="@{/login.html}">Go to page login</a>
</div>

</body>
</html>
